In [156]:
## need packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from functools import reduce
%matplotlib inline

## data received from coway, 11th Dec
|강남 청정기 센서데이터 3대|
|-|
|iaq_15902D8F1641400693.csv|
|iaq_19302D8F1731700009.csv|
|iaq_19602D8F1752600030.csv|

|포항/울산 청정기 센서데이터 2대|
|-|
|iaq_19202D8F1661700051.csv|
|iaq_15902D8F1620200110.csv|

|강남 청정기 상태데이터 3대|
|-|
|sttus_15902D8F1641400693.csv|
|sttus_19302D8F1731700009.csv|
|sttus_19602D8F1752600030.csv|

|포항/울산 청정기 상태데이터 2대|
|-|
|sttus_19202D8F1661700051.csv|
|sttus_15902D8F1620200110.csv|

In [21]:
## configuration for filepath
filepath   = '../data/20181211_top5_device_1_yr/'
sense_files  = ['iaq_15902D8F1641400693.csv','iaq_19302D8F1731700009.csv','iaq_19602D8F1752600030.csv','iaq_19202D8F1661700051.csv','iaq_15902D8F1620200110.csv']
status_files = ['sttus_15902D8F1641400693.csv','sttus_19302D8F1731700009.csv','sttus_19602D8F1752600030.csv','sttus_19202D8F1661700051.csv','sttus_15902D8F1620200110.csv']

In [166]:
test = pd.read_csv(filepath + sense_files[0], parse_dates=['dev_dt', 'dt'])

In [170]:
test.columns.values

array(['dev_id', 'dev_dt', 'pm25', 'pm10', 'voc_ref', 'voc_now', 'humi',
       'temp', 'lux', 'co2', 'pm10_idx', 'pm25_idx', 'vocs_idx',
       'co2_idx', 'iaq_idx', 'unpl_idx', 'polt_idx', 'dt'], dtype=object)

In [ ]:
dev_id,dev_dt,pm25,pm10,voc_ref,voc_now,humi,temp,lux,co2,pm10_idx,pm25_idx,vocs_idx,co2_idx,iaq_idx,unpl_idx,polt_idx,dt,invnr,inbdt,use_cust_id,pyn,room_cnt,do_nm,ct_nm,gu_nm,dng_nm,apts_in_date,bldg_tp,rtn_conf_dt,age,sex,cust_tpnm

In [61]:
%%time
p_data = [pd.merge(pd.read_csv(filepath + sense_files[i], parse_dates=['dev_dt', 'dt']), pd.read_csv(filepath + status_files[i], parse_dates=['dev_dt', 'dt']), on = ['dev_id', 'dev_dt'], how = 'outer', sort=True) for i in range(5)]

CPU times: user 8.25 s, sys: 216 ms, total: 8.47 s
Wall time: 8.47 s

In [96]:
def basic_statistics(name, data, col_name, is_number = True):
    if is_number:
        elements = [
            name,
            data[col_name].describe().name,
            '%d' % data[col_name].describe()['count'],
            data[col_name].isnull().sum(),
            data[col_name].value_counts(dropna=False).count(),
            data[col_name].dtype.name,
            '%.05f' % data[col_name].describe()['mean'],
            '%.05f' % data[col_name].describe()['std'],
            '%.05f' % data[col_name].describe()['min'],
            '%.05f' % data[col_name].describe()['25%'],
            '%.05f' % data[col_name].describe()['50%'],
            '%.05f' % data[col_name].describe()['75%'],
            '%.05f' % data[col_name].describe()['max'],
            '%.05f' % np.divide(data[col_name].describe()['std'], data[col_name].describe()['mean'])
        ]
    else:
        elements = [
            name,
            data[col_name].describe().name,
            '%d' % data[col_name].describe()['count'],
            data[col_name].isnull().sum(),
            data[col_name].value_counts(dropna=False).count(),
            data[col_name].dtype.name,
            np.nan,
            np.nan,
            np.nan,
            np.nan,
            np.nan,
            np.nan,
            np.nan,
            np.nan
        ]    
    return elements

In [141]:
%%time
stats = [basic_statistics('%s' % (p_data[number]['dev_id'].unique()[0]), p_data[number], name, np.issubdtype(p_data[number][name].dtype, np.number)) for number in range(len(p_data)) for name in p_data[number]]
stats_result = pd.DataFrame(stats, columns=['name','column', 'counts','missing','unique','type','mean','std','min','q1','median','q3','max','cv'])

/home/data/roki/.virtualenvs/coway_cp36/lib/python3.6/site-packages/ipykernel_launcher.py:17: RuntimeWarning: invalid value encountered in true_divide

CPU times: user 35 s, sys: 4 ms, total: 35 s
Wall time: 35 s

In [165]:
len(p_data[0].columns.values)

29

In [171]:
stats_result

,name,column,counts,missing,unique,type,mean,std,min,q1,median,q3,max,cv
0,15902D8F1641400693,dev_id,514331,0,1,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,15902D8F1641400693,dev_dt,514331,0,514331,datetime64[ns],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,15902D8F1641400693,pm25,512743,1588,176,float64,3.67593,6.10353,0.00000,0.00000,2.00000,5.00000,248.00000,1.66041
3,15902D8F1641400693,pm10,512743,1588,426,float64,13.87806,22.16212,0.00000,1.00000,6.00000,18.00000,751.00000,1.59692
4,15902D8F1641400693,voc_ref,512743,1588,31,float64,0.58513,0.05979,0.00000,0.53000,0.59000,0.63000,1.40000,0.10219
5,15902D8F1641400693,voc_now,512743,1588,108,float64,0.58619,0.06273,0.00000,0.54000,0.60000,0.62000,1.90000,0.10702
6,15902D8F1641400693,humi,512743,1588,63,float64,49.14435,10.76649,15.00000,41.00000,50.00000,57.00000,77.00000,0.21908
7,15902D8F1641400693,temp,512743,1588,104,float64,25.44866,2.56092,13.53000,23.73000,24.60000,26.77000,34.59000,0.10063
8,15902D8F1641400693,lux,512743,1588,921,float64,540.84820,387.95496,13.00000,68.00000,875.00000,891.00000,1023.00000,0.71731
9,15902D8F1641400693,co2,512743,1588,1247,float64,707.82456,224.94315,0.00000,488.00000,742.00000,882.00000,2305.00000,0.31780
10,15902D8F1641400693,pm10_idx,512743,1588,382,float64,10.27531,12.74635,0.00000,0.83333,5.00000,15.00000,100.00000,1.24048
11,15902D8F1641400693,pm25_idx,512743,1588,176,float64,5.84500,8.23825,0.00000,0.00000,3.33333,8.33333,94.09091,1.40945
12,15902D8F1641400693,vocs_idx,512743,1588,113,float64,0.43108,1.12498,0.00000,0.00000,0.00000,0.62436,100.00000,2.60967
13,15902D8F1641400693,co2_idx,512743,1588,1247,float64,32.48170,11.93810,0.00000,20.33333,33.87500,42.62500,66.31250,0.36753
14,15902D8F1641400693,iaq_idx_x,512743,1588,362268,float64,17.77855,10.85026,0.87266,9.72378,15.31890,23.31333,79.97664,0.61030
15,15902D8F1641400693,unpl_idx,512743,1588,2003,float64,49.25677,30.03415,0.14570,25.23443,43.65851,68.71077,100.00000,0.60975
16,15902D8F1641400693,polt_idx,512743,1588,105365,float64,9.90900,10.02818,0.00000,2.66678,6.18413,13.46042,97.60000,1.01203
17,15902D8F1641400693,dt_x,512743,1588,360,datetime64[ns],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,15902D8F1641400693,pwr_stng,1606,512725,2,float64,1.00000,0.00000,1.00000,1.00000,1.00000,1.00000,1.00000,0.00000
19,15902D8F1641400693,mode_stng,1606,512725,6,float64,1.31382,0.81872,0.00000,1.00000,1.00000,2.00000,5.00000,0.62316
20,15902D8F1641400693,fan_speed_adj,1606,512725,5,float64,0.79016,0.81125,0.00000,0.00000,1.00000,1.00000,3.00000,1.02668
21,15902D8F1641400693,light_stng,1606,512725,4,float64,1.92777,0.33267,0.00000,2.00000,2.00000,2.00000,2.00000,0.17257
22,15902D8F1641400693,eco_mode_stng,1606,512725,3,float64,0.40535,0.49111,0.00000,0.00000,0.00000,1.00000,1.00000,1.21156
23,15902D8F1641400693,iaq_idx_y,1606,512725,5,float64,1.23848,0.49901,1.00000,1.00000,1.00000,1.00000,4.00000,0.40292
24,15902D8F1641400693,oaq_idx,1606,512725,5,float64,1.71731,0.74786,1.00000,1.00000,2.00000,2.00000,4.00000,0.43548
25,15902D8F1641400693,ventil_alrm,1606,512725,2,float64,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,nan
26,15902D8F1641400693,cover_alrm_l,1606,512725,3,float64,0.01432,0.11885,0.00000,0.00000,0.00000,0.00000,1.00000,8.29873
27,15902D8F1641400693,cover_alrm_r,1606,512725,3,float64,0.01183,0.10816,0.00000,0.00000,0.00000,0.00000,1.00000,9.14212
28,15902D8F1641400693,dt_y,1606,512725,235,datetime64[ns],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,19302D8F1731700009,dev_id,511612,0,1,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,19202D8F1661700051,dt_y,1451,418059,173,datetime64[ns],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,15902D8F1620200110,dev_id,409883,0,1,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,15902D8F1620200110,dev_dt,409883,0,409883,datetime64[ns],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,15902D8F1620200110,pm25,405843,4040,224,float64,5.68246,15.68329,0.00000,0.00000,1.00000,5.00000,500.00000,2.75995
119,15902D8F1620200110,pm10,405843,4040,713,float64,21.30947,57.57807,0.00000,0.00000,4.00000,17.00000,1000.00000,2.70199
120,15902D8F1620200110,voc_ref,405843,4040,17,float64,0.52815,0.03539,0.00000,0.51000,0.51000,0.55000,0.77000,0.06701
121,15902D8F1620200110,voc_now,405843,4040,54,float64,0.50827,0.05992,0.00000,0.47000,0.51000,0.56000,1.25000,0.11789
122,15902D8F1620200110,humi,405843,4040,73,float64,51.27020,15.88750,0.00000,37.00000,55.00000,66.00000,81.00000,0.30988
123,15902D8F1620200110,temp,405843,4040,95,float64,25.11182,3.01315,0.00000,23.30000,24.82000,27.43000,31.98000,0.11999
124,15902D8F1620200110,lux,405843,4040,894,float64,540.43544,411.20075,6.00000,39.00000,886.00000,892.00000,898.00000,0.76087
125,15902D8F1620200110,co2,405843,4040,3665,float64,963.02693,598.91037,0.00000,491.00000,764.00000,1271.00000,5000.00000,0.62190
126,15902D8F1620200110,pm10_idx,405843,4040,502,float64,11.39988,18.52904,0.00000,0.00000,3.33333,14.16667,100.00000,1.62537
127,15902D8F1620200110,pm25_idx,405843,4040,224,float64,7.13660,14.00038,0.00000,0.00000,1.66667,8.33333,100.00000,1.96177
128,15902D8F1620200110,vocs_idx,405843,4040,24,float64,0.28087,0.51321,0.00000,0.00000,0.00000,0.62436,100.00000,1.82724
129,15902D8F1620200110,co2_idx,405843,4040,2664,float64,37.74870,17.34244,0.00000,20.45833,35.25000,53.38750,100.00000,0.45942
130,15902D8F1620200110,iaq_idx_x,405843,4040,285515,float64,22.04802,12.87019,0.72766,14.08912,20.93167,25.37666,87.00000,0.58373
131,15902D8F1620200110,unpl_idx,405843,4040,1658,float64,66.04222,29.92307,0.14570,39.97264,68.70000,100.00000,100.00000,0.45309
132,15902D8F1620200110,polt_idx,405843,4040,130099,float64,11.04947,14.90129,0.00000,2.63375,4.83021,13.16854,85.00000,1.34860
133,15902D8F1620200110,dt_x,405843,4040,288,datetime64[ns],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,15902D8F1620200110,pwr_stng,4055,405828,2,float64,1.00000,0.00000,1.00000,1.00000,1.00000,1.00000,1.00000,0.00000
135,15902D8F1620200110,mode_stng,4055,405828,6,float64,1.78397,1.62770,0.00000,1.00000,1.00000,2.00000,5.00000,0.91241
136,15902D8F1620200110,fan_speed_adj,4055,405828,5,float64,0.99827,1.02905,0.00000,0.00000,1.00000,2.00000,3.00000,1.03083
137,15902D8F1620200110,light_stng,4055,405828,4,float64,1.74328,0.47372,0.00000,2.00000,2.00000,2.00000,2.00000,0.27174
138,15902D8F1620200110,eco_mode_stng,4055,405828,3,float64,0.24266,0.42875,0.00000,0.00000,0.00000,0.00000,1.00000,1.76683
139,15902D8F1620200110,iaq_idx_y,4055,405828,5,float64,1.40469,0.64926,1.00000,1.00000,1.00000,2.00000,4.00000,0.46221
140,15902D8F1620200110,oaq_idx,4055,405828,5,float64,1.93095,0.52530,1.00000,2.00000,2.00000,2.00000,4.00000,0.27204
141,15902D8F1620200110,ventil_alrm,4055,405828,3,float64,0.06387,0.24455,0.00000,0.00000,0.00000,0.00000,1.00000,3.82884
142,15902D8F1620200110,cover_alrm_l,4055,405828,3,float64,0.00321,0.05654,0.00000,0.00000,0.00000,0.00000,1.00000,17.63519
143,15902D8F1620200110,cover_alrm_r,4055,405828,3,float64,0.00370,0.06072,0.00000,0.00000,0.00000,0.00000,1.00000,16.41340
144,15902D8F1620200110,dt_y,4055,405828,281,datetime64[ns],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [173]:
stats_result.to_csv(filepath + 'device_stastics.csv', index=False)

In [153]:
%%time
## append whole data
result = pd.DataFrame(columns=p_data[0].columns)
for i in range(len(p_data)):
    result = result.append(p_data[i], ignore_index=True)

CPU times: user 1.26 s, sys: 1.06 s, total: 2.33 s
Wall time: 2.33 s

In [157]:
reduce((lambda x, y: x+y), [len(p_data[i]) for i in range(len(p_data))])

2363180

In [155]:
len(result)

2363180

In [ ]:
result2.to_csv(filepath + 'merged_data_w_ffill_drop.csv', index=False)

In [182]:
df = pd.DataFrame({'id' : ['a','a','a','a','a','b','b','b','b','b'],
'dt' : ['1', '2', '3', '4', '5', '13', '14', '15', '16', '17'],
'st1' : [np.nan,np.nan,'111','222',np.nan,np.nan,np.nan,'44',np.nan,'66'],
'st2' : [np.nan,np.nan,'222','333',np.nan,np.nan,'55',np.nan,np.nan,'77']})

In [188]:
df[df['id'] == 'b']['st2']

5    NaN
6     55
7    NaN
8    NaN
9     77
Name: st2, dtype: object

In [186]:
df[df['id'] == 'b']['st2'].fillna(method='ffill', inplace=True)

/home/data/roki/.virtualenvs/coway_cp36/lib/python3.6/site-packages/pandas/core/generic.py:5434: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

  id  dt  st1  st2
0  a   1  NaN  NaN
1  a   2  NaN  NaN
2  a   3  111  222
3  a   4  222  333
4  a   5  NaN  NaN
5  b  13  NaN  NaN
6  b  14  NaN   55
7  b  15   44  NaN
8  b  16  NaN  NaN
9  b  17   66   77

In [187]:
df

  id  dt  st1  st2
0  a   1  NaN  NaN
1  a   2  NaN  NaN
2  a   3  111  222
3  a   4  222  333
4  a   5  NaN  NaN
5  b  13  NaN  NaN
6  b  14  NaN   55
7  b  15   44  NaN
8  b  16  NaN  NaN
9  b  17   66   77